<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Hakkımızda</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="left">
          <img src="../images/logo.png" alt="" />
          <h1>BANÜTECH</h1>
        </div>
        <div class="right">
          <ul>
            <li><a href="index.html">Ana Sayfa</a></li>
            <li><a href="events.html">Etkinliklerimiz</a></li>
            <li><a href="about.html">Hakkımızda</a></li>
            <li><a href="crew.html">Ekibimiz</a></li>
          </ul>
        </div>
      </nav>
      <hr />
    </header>
    <main>
      <br /><br /><br />
      <div class="container-1">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, numquam
        unde, deleniti temporibus ipsam eaque provident illum assumenda, ipsa
        eius quam? Repellat, voluptatibus quam. Sit suscipit doloremque natus
        perspiciatis magnam!
      </div>
      <div class="container-1">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, numquam
        unde, deleniti temporibus ipsam eaque provident illum assumenda, ipsa
        eius quam? Repellat, voluptatibus quam. Sit suscipit doloremque natus
        perspiciatis magnam!
      </div>
    </main>
  </body>
</html>
