<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Etkinliklerimiz</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="left">
          <img src="../images/logo.png" alt="" />
          <h1>BANÜTECH</h1>
        </div>
        <div class="right">
          <ul>
            <li><a href="index.html">Ana Sayfa</a></li>
            <li><a href="events.html">Etkinliklerimiz</a></li>
            <li><a href="about.html">Hakkımızda</a></li>
            <li><a href="crew.html">Ekibimiz</a></li>
          </ul>
        </div>
      </nav>
      <hr />
    </header>
    <main>
      <div class="event-card">
        <div class="card-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            malesuada libero sed quam tempor, eu fermentum augue vehicula.
          </p>
        </div>
        <div class="card-image">
          <img src="../images/" alt="" />
        </div>
      </div>
      <div class="event-card">
        <div class="card-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            malesuada libero sed quam tempor, eu fermentum augue vehicula.
          </p>
        </div>
        <div class="card-image">
          <img src="../images/" alt="" />
        </div>
      </div>
    </main>
  </body>
</html>
