<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="icon" href="../images/logo.png" />
    <title>BanüTECH</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="left">
          <img src="../images/logo.png" alt="" />
          <h1>BANÜTECH</h1>
        </div>
        <div class="right">
          <ul>
            <li><a href="index.html">Ana Sayfa</a></li>
            <li><a href="events.html">Etkinliklerimiz</a></li>
            <li><a href="about.html">Hakkımızda</a></li>
            <li><a href="crew.html">Ekibimiz</a></li>
          </ul>
        </div>
      </nav>
      <hr />
    </header>
    <main>
      <img src="../images/logo2.png" alt="BanüTECH Logo" />
      <div class="container-1">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat at amet
        sint voluptates eveniet saepe tempore qui ratione! Molestiae et dolores
        quis repellendus sed dignissimos cum praesentium velit!
      </div>
      <div class="container-2">ÖNE ÇIKAN ETKİNLİKLER</div>
    </main>
  </body>
</html>
